{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-left">

        <h1>
            Add Interview Question 🚀
        </h1>

        <p>
            Add important interview questions for platform users.
        </p>

    </div>

    <div class="auth-card">

        <h2>
            New Question
        </h2>

        <form method="POST">

            {% csrf_token %}

            <select name="category" required>

                <option value="">
                    Select Category
                </option>

                <option value="Python">
                    Python
                </option>

                <option value="SQL">
                    SQL
                </option>

                <option value="Django">
                    Django
                </option>

                <option value="Web">
                    Web Development
                </option>

                <option value="React">
                    React
                </option>

                <option value="JavaScript">  
                    JavaScript  
                </option>

                <option value="HTML">
                    HTML
                </option>

                <option value="CSS">
                    CSS
                </option>

            </select>

            <input
                type="text"
                name="title"
                placeholder="Enter Question Title"
                required
            >

            <textarea
                name="answer"
                rows="8"
                placeholder="Enter Answer"
                required
            ></textarea>

            <button type="submit">
                Add Question
            </button>

        </form>

    </div>

</div>

{% endblock %}