{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-left">
        <h1>Edit Question ✏️</h1>
        <p>Update the interview question details below.</p>
    </div>

    <div class="auth-card">

        <h2>Update Question</h2>

        <form method="POST">
            {% csrf_token %}

            <select name="category" required>
                <option value="Python" {% if question.category == "Python" %}selected{% endif %}>Python</option>
                <option value="SQL" {% if question.category == "SQL" %}selected{% endif %}>SQL</option>
                <option value="Django" {% if question.category == "Django" %}selected{% endif %}>Django</option>
                <option value="Web" {% if question.category == "Web" %}selected{% endif %}>Web Development</option>
                <option value="React" {% if question.category == "React" %}selected{% endif %}>React</option>
                <option value="JavaScript" {% if question.category == "JavaScript" %}selected{% endif %}>JavaScript</option>
                <option value="HTML" {% if question.category == "HTML" %}selected{% endif %}>HTML</option>
                <option value="CSS" {% if question.category == "CSS" %}selected{% endif %}>CSS</option>
            </select>

            <input type="text" name="title" value="{{ question.title }}" placeholder="Question Title" required>

            <textarea name="answer" rows="8" placeholder="Answer" required>{{ question.answer }}</textarea>

            <button type="submit">Update Question</button>

        </form>

    </div>

</div>

{% endblock %}